.total {
    width: 180px;
    box-shadow: 1px 1px 3px gray;
}

.info {
    padding-left: 10px;
    padding-bottom: 20px;
}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

p {
    font-family: Arial;
    line-height: 20px;

}

.name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1px;
}

.amount-friends {
    color: gray;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

button {
    font-family: Arial;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(21, 103, 255);
    color: white;
    border-width: 0px;
    border-radius: 3px;
}