.contenedor-global {
    display: flex;
    background-color: rgb(133, 109, 179);
    justify-content: space-between;
    align-items: center;
}

.barra {
    border: none;
    border-radius: 15px;
    height: 30px;
    padding-right: 300px;
    padding-left: 15px;
}

p {
    padding-left: 20px;
    font-family: Arial;
    color: white;
    font-weight: bold;
}

button {
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgb(133, 109, 179);
    color: white;

}